<!-- begin hero -->
{{ $c := "c-hero" }}
<section class="{{$c}} animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="{{$c}}__inner">

          <div class="{{$c}}__left">
            <h1 class="{{$c}}__title">{{ .title }}</h1>
            <div class="{{$c}}__description">{{ .description_html | safeHTML }}</div>
            <div class="{{$c}}__btn">
              <a href="{{ .cta_button_link }}" class="cta-button c-button c-button--primary c-button--small">{{ .cta_button }}</a>
              <a class="works-button c-button c-button--secondary c-button--small" href="{{ .works_button_link }}">
                <span class="circle-bg"><i class="ion ion-md-arrow-down button-arrow"></i></span> {{ .works_button }}
              </a>
            </div>
          </div>

          <div class="{{$c}}__right">
            <div class="{{$c}}__image">
              <img loading="lazy" src="{{ .image }}" alt="{{ .image_alt }}">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->