{{ define "main" }}

{{ if (eq .Section "tags") }}

{{ partial "bookshop" (slice "page-heading" (dict "title" .Params.title)) }}
{{ $title := .Params.title }}

<div class="container">
  <h1>Posts</h1>
  <div class="row">
    <div class="col col-12">
      <div class="contaniner__inner animate">
        <div class="row">
          {{ with .Site.GetPage "section" "posts"}}
            {{ range .Pages }}
            {{ if in .Params.tags $title }}
              {{ partial "bookshop" (slice "blog-card" (dict "url" .RelPermalink "image" .Params.image "title" .Params.title "description" .Params.description "Summary" .Summary "date" .Date "tags" .Params.tags)) }}
            {{ end }}
            {{ end }}
            {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1>Projects</h1>
  <div class="row">
    <div class="col col-12">
      <div class="contaniner__inner animate">
        <div class="row">
            {{ with .Site.GetPage "section" "projects"}}
            {{ range .Pages }}
            {{ if in .Params.tags $title }}
              {{ partial "bookshop" (slice "project-card" (dict "url" .RelPermalink "image" .Params.image "title" .Params.title
          "subtitle" .Params.subtitle )) }}
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>

{{ partial "bookshop" (slice "newsletter" (dict "newsletter_title" site.Data.newsletter.newsletter_title "newsletter_description" site.Data.newsletter.newsletter_description "newsletter_identifier" site.Data.newsletter.newsletter_identifier "newsletter_button" site.Data.newsletter.newsletter_button)) }}

{{ end }}

{{ end }}