{{ if site.Params.env_bookshop_live }}


<div class="container animate">
  <div class="row" data-pagebreak="6">

    {{ range seq 9 }}
    {{ $c := "c-blog-card" }}
<div class="{{$c}} col col-4 col-d-6 col-t-12">
  <div class="{{$c}}__inner">
    <div class="{{$c}}__image-wrap">
      <a class="{{$c}}__image" href="/">
        <img loading="lazy" src="/images/post-6.jpg" alt="title">
      </a>
    </div>

    <div class="{{$c}}__content">

      <div class="{{$c}}__tags-box">
          <a href="/" class="{{$c}}__tag">travel</a>
          <a href="/" class="{{$c}}__tag">lifestyle</a>
      </div>

      <h2 class="{{$c}}__title">
        <a href="/">This is an example blog card so you can see what it could look like</a>
      </h2>

      <p class="{{$c}}__excerpt">
        Your actual blog posts will be displayed on the page rather than these example cards which cannot be edited here.
      </p>

      <div class="{{$c}}__meta">
        <div class="{{$c}}__author-image">
          <img loading="lazy" src="/images/page-1.jpg" alt="Author Name">
        </div>
        <div class="{{$c}}__info">
          <div class="{{$c}}__author-name">Vanessa Marley</div>
          <span class="{{$c}}__date"><time datetime="2018-11-05 15:01:35 +0300">2018-11-05 15:01:35 +0300</time></span>
        </div>
      </div>

    </div>
  </div>
</div>
{{ end }}
  </div>
</div>
{{ partial "bookshop_partial" (slice "pagination" . ) }}

{{ else }}

{{ if .show_posts }}
<div class="container animate">
  <div class="row" data-pagebreak="6">
    {{ range where site.RegularPages "Section" "posts" }}
      {{ partial "bookshop" (slice "blog-card" (dict "url" .RelPermalink "image" .Params.image "title" .Params.title
      "description" .Params.description "Summary" .Summary "date" .Date "tags" .Params.tags)) }}
    {{ end }}
  </div>
</div>
{{ partial "bookshop_partial" (slice "pagination" . ) }}
{{ end }}

{{ end }}